CompileFlags:
  Add:
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/freertos/FreeRTOS-Kernel/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/freertos/esp_additions/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_common/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_hw_support/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_system/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/log/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/soc/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/hal/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_rom/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/xtensa/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/newlib/platform_include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_uart/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_gpio/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/nvs_flash/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_wifi/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_netif/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/lwip/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/mqtt/esp-mqtt/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_http_client/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_https_ota/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/json/cJSON
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/mbedtls/mbedtls/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/mbedtls/port/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_timer/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_event/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_partition/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/spi_flash/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_app_format/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/bootloader_support/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/efuse/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_mm/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_psram/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_lcd/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_lcd/interface
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_spi/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_i2c/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_ledc/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_rmt/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_dac/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_adc/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_adc/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_pcnt/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_mcpwm/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_ana_cmpr/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_i2s/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_sdmmc/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_sdspi/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_sdio/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_tsens/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_sdm/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_parlio/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_usb_serial_jtag/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/driver/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_phy/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_coex/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/wpa_supplicant/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_eth/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_gdbstub/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_hid/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/tcp_transport/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_http_server/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_https_server/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protobuf-c/protobuf-c
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protocomm/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_local_ctrl/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/espcoredump/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/wear_levelling/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/fatfs/src
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/fatfs/vfs
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/fatfs/diskio
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/idf_test/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/ieee802154/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/nvs_sec_provider/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/perfmon/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/rt/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/spiffs/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/wifi_provisioning/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/unity/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/cmock/CMock/src
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/console
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/http_parser
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp-tls
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp-tls/esp-tls-crypto
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_isp/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_cam/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_cam/interface
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_jpeg/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_ppa/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_driver_gptimer/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_ringbuf/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/vfs/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/app_trace/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_mm/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_security/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/pthread/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_psram/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_lcd/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_lcd/interface
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protobuf-c/protobuf-c
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protocomm/include/common
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protocomm/include/security
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protocomm/include/transports
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protocomm/include/crypto/srp6a
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/protocomm/proto-c
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/esp_local_ctrl/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/espcoredump/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/espcoredump/include/port/xtensa
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/wear_levelling/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/fatfs/diskio
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/fatfs/src
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/fatfs/vfs
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/idf_test/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/idf_test/include/esp32
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/ieee802154/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/json/cJSON
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/mqtt/esp-mqtt/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/nvs_sec_provider/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/perfmon/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/rt/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/spiffs/include
    - -I/home/brimix/esp/v5.4.1/esp-idf/components/wifi_provisioning/include
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components/lvgl__lvgl
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components/lvgl__lvgl/src
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components/espressif__esp_lvgl_port/include
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components/espressif__esp-idf-cxx/include
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components/espressif__esp_mqtt_cxx/include
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/managed_components/tny-robotics__sh1106-esp-idf/include
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/main/lsu-management
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/main/lora
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/main/tasks
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/main/wi-fi
    - -I/home/brimix/Documents/project/livestock-monitoring-CU/main
    - -DESP_PLATFORM
    - -DIDF_VER="v5.4.1-dirty"
    - -DSOC_MMU_PAGE_SIZE=CONFIG_MMU_PAGE_SIZE
    - -DSOC_XTAL_FREQ_MHZ=CONFIG_XTAL_FREQ
    - -D_GLIBCXX_HAVE_POSIX_SEMAPHORE
    - -D_GLIBCXX_USE_POSIX_SEMAPHORE
    - -D_GNU_SOURCE
    - -D_POSIX_READER_WRITER_LOCKS
    - -DLV_CONF_INCLUDE_SIMPLE
    - -DMBEDTLS_CONFIG_FILE="mbedtls/esp_config.h"
    - -DUNITY_INCLUDE_CONFIG_H
  CompilationDatabase: build/compile_commands.json

